.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 550px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .tittlePadding {
    padding-top: 120px;
  }
  .shortTitle, .mediumTitle {
    width: auto;
  }
}
.header-content {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.text05 {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-self: center;
  justify-content: center;
}

.logo-nav {
  width: 90px;
  display: block;
  padding: 5px 0px 0px 20px;
}

.alinhar-nav {
  width: 100%;
  display: flex;
  justify-content: end;
}

#ancoras {
  padding: 45px 40px 0px 0px;
}

.ancora {
  text-shadow: black -1px 0px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}
.ancora:hover {
  color: rgb(142, 215, 215);
}

#foto {
  max-width: 50vh;
  max-height: 50vh;
}

.container05 {
  padding-left: 40px;
  position: absolute;
}

.myname {
  font-size: 80px;
}

.bigtitle {
  font-size: 100px;
}

.container00.container06 {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9019607843);
}

.filter {
  filter: grayscale(100%);
}

#tecnologias {
  background-color: rgba(0, 0, 0, 0.9019607843);
}

.carousel01 {
  background-image: url(../imgs/calculadora.png);
  background-position: 50% 50%;
  height: 100vh;
}

.carousel02 {
  background-image: url(../imgs/landing.png);
  height: 100vh;
}

.carousel03 {
  background-image: url(../imgs/pagina\ login.png);
  height: 100vh;
}

.carousel04 {
  background-position: 50% 50%;
  background-image: url(../imgs/clonenetflix.png);
  height: 100vh;
}

.carousel05 {
  background-image: url(../imgs/falcon9/07.jpg);
  height: 100vh;
}

.carouseltitle {
  text-align: center;
}

.table-size {
  width: 500px;
}

.carouselText {
  padding: 100px;
}

#cont6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 800px) {
  #cont6 {
    flex-direction: column;
    align-items: center;
  }
  #foto {
    padding-bottom: 20px;
  }
}
@media (max-width: 770px) {
  .carouselText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .table-size {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .table-size {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .myname {
    font-size: 60px;
  }
  .text05 {
    font-size: 18px;
  }
  .table-size {
    width: 350px;
  }
}
@media (max-width: 450px) {
  .myname {
    font-size: 50px;
  }
  .frontend {
    font-size: 20px;
  }
  .table-size {
    width: 250px;
    font-size: 10px;
  }
  .text05 {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .text05 {
    text-align: center;
    font-size: 16px;
  }
  .bigtitle {
    font-size: 75px;
  }
  .carouseltitle {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .bigtitle {
    font-size: 50px;
  }
  .table-size {
    width: 200px;
    font-size: 9px;
  }
  .text05 {
    font-size: 14px;
  }
}
* {
  color: white;
}

.header {
  font-weight: bold;
  font-size: 12px;
  width: 100vh;
}
.header #nav-hover:hover {
  color: #ebd5d5;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowdown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.logoPc {
  margin-top: 20px;
  margin-left: 10px;
}

#button {
  padding: 15px 35px;
  border: 2px white solid;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #ebd5d5;
}

.copy {
  color: rgba(153, 153, 153, 0.6);
}

@media (max-width: 991px) {
  .logoPc {
    margin-bottom: 20px;
  }
}
@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 10px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
  .footer {
    display: grid;
    text-align: center;
  }
}
@media (max-width: 310px) {
  .logoPc {
    width: 100vh;
    padding-left: 30px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
